<!--
	this is the special layout file used to factor out common structures
-->

<!DOCTYPE html>
<html>
<head>
	
    <!-- displays code inside by using yield-->
<!-- yield is responsible for inserting the contents of each page into the layout -->

<title><%= full_title(yield(:title)) %></title>
<!-- <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title> -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
